[Desktop Entry]
Encoding=UTF-8
Name=Betavine Connection Manager
Exec=bcm
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=bcm
Categories=Application;Network;
StartupNotify=true
