[Desktop Entry]
Encoding=UTF-8
Name=Betavine Mobile Connect
Exec=wader-vmc
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=wader-vmc
Categories=Application;Network;
StartupNotify=true
