[Desktop Entry]
Name=V Mobile Broadband
Exec=v-mobile-broadband
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=v-mobile-broadband
Categories=Application;Network;
StartupNotify=false
